* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.total {
  background-color: white;
  width: 25%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total .title {
  text-align: center;
}
.innertotal{
    width: 100%;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
   padding: 5%;
   padding-left: 20%;
   padding-right: 20%;
   margin-bottom: 13%;
   width: 100%;
  
}


.rediounit{
    width: 80%;
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.rediounit input{
    width: 15%;
    margin: 0px;
}
.formunit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnsubmit{
    width: 109%;
    box-sizing: border-box;
    color: white;
    background-color: crimson;
    border: 2px solid crimson;
    border-radius: 8px;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
    width: 140%;
  text-align: left;
}
.rediounit label{
    display: block;
    text-align: center;
}
h1{
    font-size: 1.1rem;
    margin-bottom:10% ;
}
h3{
    font-size: 0.8rem;
}
.btnsubmit:hover{
    background-color: white;
    color: crimson;
    transition: 1s;
}